
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}


header {
    background-color: white; 
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

header h1 {
    color: white; 
    margin: 0;
    background-color: green;
}

header h2 {
    color: black;
    margin: 0;
}


.add-property {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 55wh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}


.input-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 15px;
}


.input-row input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.add-btn {
        display: flex;
        padding: 10px 20px;
        background-color: blue;
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        border-radius: 5px;


}

.add-btn:hover {
    background-color: darkblue;
}


h3 {
    margin-top: 30px;
    font-size: 22px;
}

.property-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}


.property-card {
    background-color: white;
    padding: 20px;
    margin: 15px;
    width: 260px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: left;
}

.property-card h3 {
    margin-bottom: 8px;
}

.property-card p {
    margin: 5px 0;
}

.property-card img {
    width: 100%;
    height: 160px;
    border-radius: 5px;
    object-fit: cover;
    margin-top: 10px;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.contact-btn, .delete-btn {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.contact-btn {
    background-color: green;
}

.delete-btn {
    background-color: red;
}

.contact-btn:hover {
    background-color: darkgreen;
}

.delete-btn:hover {
    background-color: darkred;
}


.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
 
  .input-group {
    display: flex;
    flex-direction: column;
    width: 48%;
  }
 
  label {
    margin-bottom: 5px;
    align-self: flex-start;
  }